//页面背景
body {
  background-image: url("../images/body2.png") ;
  background-repeat: repeat-x;
//  background-attachment: fixed;
//  background-position: 30% 50%;
  margin: 0 0 0 0; 
//  height: 80%;

}

//导航区背景
//.site-meta {
//  background: url("../images/head-bg.png");
//  background-position: 80% 100%;
// padding: 30px 0;
//}


#menu{
	opacity:0.6;
	background: url("../images/white.png");
	margin: 0px 200px 0px 200px;	
}

